
# Lab 3
**Duration:** ~2 hours

**Focus:** Exception handling; practice with `math`, `random`, `datetime`, `os/sys` and introspection (`dir`, `help`).  

**Instructions:** For each exercise, read the markdown prompt and implement your solution in the empty code cell directly below it.

# Exceptions: try/except, else, finally; Common Errors; raise

**Exercise 1:** Wrap a division `a/b` in try/except to catch `ZeroDivisionError` and print a helpful message.

In [3]:
a = 5
b = 0

try:
    print(a/b)
except ZeroDivisionError:
    print("Do not divide by zero")

Do not divide by zero

**Exercise 2:** Convert the string `'42'` to int inside try/except/else/finally; print success in else, 'done' in finally.

In [5]:
try:
    a = int('abc')
except:
    print("wrong value in int()")
else:
    print('success')
finally:
    print('done')

wrong value in int()
done

**Exercise 3:** Open a missing file path and catch `FileNotFoundError` gracefully; print a friendly message.

In [ ]:
try:
    with open('girlfriend.py', 'r') as f:
        content = f.read()
        print(content)
except:
    print('abey saale')

abey saale

**Exercise 4:** Use `raise` to throw a `ValueError` with a custom message if a number is negative; test with `-1` and catch it.

In [11]:
try:
    num = -1
    if num < 0:
            raise(ValueError)
    print(num)
except ValueError as e:
    print('error:', "Negative value is not allowed")

error: Negative value is not allowed

**Exercise 5:** Handle multiple exceptions (`ValueError` and `TypeError`) when converting `x` to int for `x in ['15','oops',None]`.

In [16]:
data = ['15','oops', None]
for x in data:
    try:
        num = int(x)
        print("Hum jeet gaye: ", num)
    except (ValueError, TypeError):
        print('type bhi change krle or value bhi chaman ch***ye')

Hum jeet gaye:  15
type bhi change krle or value bhi chaman ch***ye
type bhi change krle or value bhi chaman ch***ye

**Exercise 6:** Define a custom exception class `TooSmallError`. Write a function that raises it if input < 10; test with 7 and handle it.

In [4]:
class TooSmallError(Exception):
    pass

def check(num):
    if num < 10:
        raise TooSmallError(f"{num} is too small! Need 10 or more.")
        
try:
    check(7)
except TooSmallError as e:
    print("error:", e)

error: 7 is too small! Need 10 or more.

**Exercise 7:** Read an integer from a string; if conversion succeeds (else branch), print its square; otherwise print 'bad input'. Use `s='16'`.

In [8]:
try:
    s = int(input("enter a number"))
except:
    print("Bad Input")
else:
    print(s**2)

625

**Exercise 8:** Demonstrate logging + re-raise: in a try block, divide by zero; in except, print 'logging...' then re-raise. Catch it in an outer try to prevent crash.

**Exercise 9:** Use `assert` to ensure a list is non-empty; catch the resulting `AssertionError` and print a message.

**Exercise 10:** Simulate resource acquisition with a variable `opened=True`; in try, raise `RuntimeError`; in finally, set `opened=False` and print its value.

# Standard Library Focus: math, random, datetime (Heavier)

**Exercise 1:** Using `math`, compute area of a circle (r=7) and print to 3 decimals.

In [2]:
import math

r = 7
res = math.pi * r**2
print(round(res,3))

153.938

**Exercise 2:** Using `math`, compute factorial of 6 and the gcd of 84 and 30; print both.

In [3]:
n = 6
res1 = math.factorial(n)

n1 = 84
n2 = 30
res2 = math.gcd(n1,n2)
print(f"Factorial of {n} is {res1}, GCD of {n1},{n2} is {res2}")

Factorial of 6 is 720, GCD of 84,30 is 6

**Exercise 3:** Compute compound interest for P=1500, r=6% annual, t=4 years (annual compounding). Print rounded to 2 decimals.

In [5]:
p = 1500
r = 6
t = 4
a = p * (1+r/100) ** t
print(round(a,2))

1893.72

**Exercise 4:** Generate a reproducible list of 10 random integers from 1..100 using a fixed seed (123).

In [13]:
import random
random.seed(123)
nums = [random.randint(1,100) for _ in range(10)]

print(nums)

[7, 35, 12, 99, 53, 35, 14, 5, 49, 69]

**Exercise 5:** From a list `['red','green','blue','yellow']`, randomly shuffle the list and print it. Then sample 2 unique colors.

In [18]:
import random
random.seed(15)
lst = ['red', 'green', 'blue', 'yellow']
random.shuffle(lst)
print(lst)
print(random.sample(lst, 2))

['yellow', 'blue', 'red', 'green']
['blue', 'yellow']

**Exercise 6:** Simulate 1000 coin flips (`H`/`T`) and print the counts of each.

In [21]:
coin = ['H', 'T']
flips = [random.choice(coin) for _ in range(1000)]
print(f"Heads: {flips.count('H')}")
print(f"Tails: {flips.count('T')}")
print(flips)

Heads: 483
Tails: 517
['H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'T', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'T', 'H', 'H', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'H', 'T', 'T', 'H', 'T', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'H', 'H', 'H', 'T', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'T', 'H', 'T']

**Exercise 7:** Print today's date and time, then print the date 30 days from now.

In [26]:
from datetime import datetime, timedelta 

today = datetime.now()
print(today)
print(f"Today: {today.strftime("%d-%m-%y %H:%M:%S")}")

future = today + timedelta(days=30)
print(f"30 days from now: {future.strftime("%d-%m-%y %H:%M:%S")}")

2025-12-13 09:00:35.812398
Today: 13-12-25 09:00:35
30 days from now: 12-01-26 09:00:35

**Exercise 8:** Given ISO date strings `['2025-05-01','2024-12-31','2025-01-15']`, sort them chronologically using `datetime`.

In [28]:
dates = ['2025-05-01','2024-12-31','2025-01-15']
sort_date = sorted(dates, key=lambda x: datetime.fromisoformat(x))
print(sort_date)

['2024-12-31', '2025-01-15', '2025-05-01']

**Exercise 9:** Parse `'2025-09-11 08:30:00'` to a `datetime`, add 90 minutes, and print the result in `YYYY-MM-DD HH:MM` format.

**Exercise 10:** Create a small schedule: start at today's date and print the next 5 day names (Mon..Sun) using `datetime`.

# (Optional) Small Practical: os/sys (kept minimal)

**Exercise 1:** Simulate command-line args in a list `['script.py','--k','3']`, parse `k` as int, print `k*k`.

# (Optional) Introspection: dir() and help()

**Exercise 1:** Print the number of attributes in `dir(random)`.

**Exercise 2:** Run `help(datetime.date)` to view its documentation.