
# Lab 2
**Duration:** ~2 hours

**Topics covered (only these):**
- Lists: creating, accessing, slicing; methods `append`, `extend`, `insert`, `pop`, `remove`, `sort`
- List comprehension
- Tuples: declaration, immutability, use cases; tuple unpacking; `zip()` basics
- Sets: creating, uniqueness, membership with `in`, `add`, `remove`, `discard`; de‑duplication use cases; set ops `union`, `intersection`, `difference`, `symmetric_difference`
- Dictionaries: creating/accessing key‑value pairs; `get`, `items`, `keys`, `values`; updating & deleting; `in` operator; nested dictionaries
- Dictionary comprehension (basic intro)

**Instructions:** Each exercise is stated in a markdown cell, followed by an empty code cell for your solution. You may use loops and conditionals when useful.

# Lists: Creating, Accessing, Slicing

**Exercise 1:** Create a list `nums` containing 1 through 5 and print the first and last elements.

In [1]:
nums = [1,2,3,4,5]
print(nums[0])
print(nums[4])

1
5

**Exercise 2:** Given `letters = ['a','b','c','d','e']`, slice to get ['b','c','d'] and print it.

In [2]:
letters = ['a', 'b', 'c', 'd','e']
letters[1:4]

['b', 'c', 'd']

**Exercise 3:** Reverse a list using slicing and print the result.

In [3]:
letters[::-1]

['e', 'd', 'c', 'b', 'a']

**Exercise 4:** From `nums = list(range(10))`, print every 2nd element starting from index 1 using slicing.

In [4]:
nums = list(range(10))
nums[::2]

[0, 2, 4, 6, 8]

**Exercise 5:** Replace the middle two elements of `[1,2,3,4,5]` with `[99,100]` using slicing assignment and print the list.

In [8]:
nums = [1,2,3,4,5]

nums[1:3] = [99,100]
nums

[1, 99, 100, 4, 5]

# List Methods: append(), extend(), insert(), pop(), remove(), sort()

**Exercise 1:** Start with `x = [3,1,4]`. Append 2, extend with [5,9], then print x.

In [11]:
x = [3,1,4]
x.append(2)
print(x)
x.extend([5,9])
print(x)

[3, 1, 4, 2]
[3, 1, 4, 2, 5, 9]

**Exercise 2:** Using `x = [10, 20, 30]`, insert 15 at index 1, then print x.

In [12]:
x = [10,20,30]
x.insert(1, 15)
print(x)

[10, 15, 20, 30]

**Exercise 3:** From `x = [7,8,9]`, pop the last element, store it in `last`, and print both `last` and `x`.

In [14]:
x = [7,8,9]

last = x.pop()
print(last)
print(x)

9
[7, 8]

**Exercise 4:** Remove the first occurrence of 2 from `x = [1,2,3,2,4]` and print x.

In [15]:
x = [1,2,3,2,4]

x.remove(2)
x

[1, 3, 2, 4]

**Exercise 5:** Sort `x = [3,1,4,1,5]` in ascending order in-place and print it.

In [17]:
x = [3,1,4,1,5]
x.sort()
x

[1, 1, 3, 4, 5]

**Exercise 6:** Given `names = ['bob','Alice','dave']`, sort case-insensitively (without creating a new list) and print it.

In [18]:
names = ['bob', 'Alice', 'dave']

names.sort()
names

['Alice', 'bob', 'dave']

# List Comprehension

**Exercise 1:** Create a list of squares for numbers 1..10 using a list comprehension and print it.

In [19]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Exercise 2:** From `nums = [1,2,3,4,5,6]`, build a list of only even numbers using a comprehension.

In [22]:
nums = [1,2,3,4,5,6]
even = [num for num in nums if num % 2 == 0]
even

[2, 4, 6]

**Exercise 3:** Given `words = ['apple','kiwi','banana']`, create a list with the lengths of each word using a comprehension.

In [2]:
words = ['apple', 'kiwi', 'banana']
lenth = [len(word) for word in words]
lenth

[5, 4, 6]

**Exercise 4:** Build a list `pairs` of tuples `(n, n*n)` for n=1..5 using a comprehension and print it.

In [4]:
pairs = [(n, n*n) for n in range(1,6)]
pairs

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

# Tuples: Declaration, Immutability, Use Cases

**Exercise 1:** Create a tuple `t` with elements (1, 'a', True) and print its length.

In [5]:
t = (1, 'a', True)
len(t)

3

**Exercise 2:** Create a tuple of the first 5 even numbers and print it.

In [6]:
t = (2,4,6,8,10)
t

(2, 4, 6, 8, 10)

**Exercise 3:** Demonstrate tuple immutability by trying to modify one element and observing the error (commented code), then print a message confirming immutability.

In [7]:
# t[1] = 12 
# TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# Tuple Unpacking and zip() Basics

**Exercise 1:** Unpack the tuple `(10, 20, 30)` into variables a, b, c and print them.

In [8]:
t = (10,20,30)
a,b,c = t
print(a)
print(b)
print(c)

10
20
30

**Exercise 2:** Given `coords = [(1,2),(3,4),(5,6)]`, loop with tuple unpacking to print `x*y` for each pair.

In [10]:
coords = [(1,2), (3,4), (5,6)]
for a,b in coords:
    print(a*b)

2
12
30

**Exercise 3:** Using `names = ['Ana','Ben']` and `scores = [90, 85]`, use zip() to pair and print `Ana:90`, `Ben:85`.

In [11]:
names = ['Ana', 'Ben'] 
scores = [90, 85]
for name, score in zip(names, scores):
    print(f'{name}, {score}')

Ana, 90
Ben, 85

# Sets: Creating, Membership, add(), remove(), discard(), Use in De-duplication

**Exercise 1:** Create a set from the list `[1,2,2,3,3,3]` to remove duplicates and print it.

In [12]:
lst = [1,2,2,3,3,3]
print(set(lst))

{1, 2, 3}

**Exercise 2:** Check membership: print whether 3 is in the set `{1,2,3}` using `in`.

In [15]:
s = {1,2,3}
print(3 in s)

True

**Exercise 3:** Start with empty set `s = set()`. Add 10, then remove 10, then safely discard 10 again, and print the set each time.

In [17]:
s = set()
s.add(10)
print(s)
s.remove(10)
print(s)

{10}
set()

**Exercise 4:** Given `data = [1,1,2,2,3,4,4]`, produce a de-duplicated list preserving original order using a set for membership check; print the result.

*Hint:* Use a loop and a seen set.

In [18]:
data = [1,1,2,2,3,4,4]
st = set()
st.update(data)
st

{1, 2, 3, 4}

In [21]:
seen = set()
res = []
for i in data:
    if i not in seen:
        seen.add(i)
        res.append(i)        

seen

{1, 2, 3, 4}

# Set Operations: union(), intersection(), difference(), symmetric_difference()

**Exercise 1:** Let `a={1,2,3}` and `b={3,4}`. Print union, intersection, difference (a-b), symmetric difference.

In [24]:
a = {1,2,3}
b = {3,4}

print(a | b) # union
print(a & b) # intersection
print(a - b) # difference
print(a ^ b) # symmetric difference

{1, 2, 3, 4}
{3}
{1, 2}
{1, 2, 4}

**Exercise 2:** Given `a={1,2,3,4}` and `b={2,4,6}`, print sorted list of elements that are in exactly one of the sets.

In [30]:
a = {1,2,3,4}
b = {2,4,6}

c = a^b
sorted(c)

[1, 3, 6]

**Exercise 3:** Using sets, count how many common letters exist between the strings 'banana' and 'bandana'.

In [1]:
str1 = 'banana'
str2 = 'bandana'

s1 = set(str1)
s2 = set(str2)

s1 & s2

{'a', 'b', 'n'}

# Dictionaries: Creating, Accessing, get(), items(), keys(), values()

**Exercise 1:** Create a dictionary `student` with keys `name`, `age`, `score` and print name and score.

In [5]:
student = {'name' : 'Kunwar', 'age': 19, 'score': 450}

print(f'name: {student['name']}, score: {student['score']}')

name: Kunwar, score: 450

**Exercise 2:** Use `get()` to safely access a non-existing key `grade` from the above dict with default 'NA' and print it.

In [9]:
student.get('grade', 'NA')

'NA'

**Exercise 3:** Loop through `items()` of `student` and print `key=value` on each line.

In [11]:
for k,y in student.items():
    print(f'{k}={y}')

name=Kunwar
age=19
score=450

**Exercise 4:** Print the list of keys and the list of values of `student`.

In [14]:
l1 = []
l2 = []

l1.extend(student.keys())
l2.extend(student.values())

print(l1)
print(l2)

['name', 'age', 'score']
['Kunwar', 19, 450]

# Updating, Deleting Entries; `in` Operator; Nested Dictionaries

**Exercise 1:** Start with `d={'x':1, 'y':2}`. Update `y` to 20 and add `z:3`, then print d.

In [19]:
d = {'x': 1, 'y': 2}
d['y'] = 20
d['z'] = 3
d

{'x': 1, 'y': 20, 'z': 3}

**Exercise 2:** Delete key `x` from `d`, if it exists, using `pop()` with a default to avoid errors; print the removed value and the dict.

In [20]:
val = d.pop('x')
print(val)
print(d)

1
{'y': 20, 'z': 3}

**Exercise 3:** Check if key `age` is present in `student = {'name':'Avi','score':88}` using `in` and print the result.

In [22]:
student = {'name':'Avi','score':88}
print('age' in student)

False

**Exercise 4:** Create a nested dictionary for two students with keys as roll numbers and values as dictionaries of `name` and `score`. Access and print the score for roll 102.

In [32]:
stu_data = {101: {'name': 'Kunwar', 'score': 450}, 102:  {'name': 'Avinay', 'score': 300}}
print(stu_data[102]['score'])

300

# Dictionary Comprehension (Basic Intro)

**Exercise 1:** Build a dictionary mapping numbers 1..5 to their squares using a comprehension and print it.

In [24]:
{x: x**2 for x in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Exercise 2:** From `words = ['apple','bee','kiwi']`, create a dict mapping each word to its length.

In [25]:
words = ['apple', 'bee', 'kiwi']
{word : len(word) for word in words}

{'apple': 5, 'bee': 3, 'kiwi': 4}

**Exercise 3:** Filter with comprehension: from `nums=range(10)`, keep only odd numbers as keys, value as their cubes.

In [28]:
nums = {x : x**3 for x in range(10) if x % 2 == 1}
nums

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

# Applied Logic with Collections (Loops/Conditionals Allowed)

**Exercise 1:** Given a list of integers, produce a dictionary counting occurrences of each integer (like a frequency map) without using external modules; print the result for `[1,2,2,3,3,3]`.

In [33]:
lst = [1,2,2,3,3,3]
seen = {}
for i in lst:
    if i not in seen:
        seen[i] = 1
    else:
        seen[i] += 1

seen

{1: 1, 2: 2, 3: 3}

**Exercise 2:** Given two lists `a=[1,2,3,4]` and `b=[2,4,6,8]`, compute the sorted list of common elements using sets (no duplicates).

In [35]:
a = [1,2,3,4]
b = [2,4,6,8]

s1 = set(a)
s2 = set(b)

s1 | s2

{1, 2, 3, 4, 6, 8}

**Exercise 3:** You have `people = ['Ana','Ben','Cara']` and `scores = [92, 85, 92]`. Use zip() to pair them and build a dict; if a name repeats, keep the higher score.

In [39]:
people = ['Ana','Ben','Cara', 'Ana']
scores = [85, 85, 92, 92]

res = {}
for name,score in zip(people, scores):
    if (name not in res) or (score > res[name]):
        res[name] = score

res

{'Ana': 92, 'Ben': 85, 'Cara': 92}